// text rules
$defaultFontSize: 62.5%;
$heroText: 'Encode Sans', sans-serif;
$paragraphText: 'Inter', sans-serif;
$buttonCta: 'Manrope', sans-serif;
//text rules ends here

//colors starts here
$primaryColor: #D23936;
$ooo: #ff6787;
$secondaryColor: #381FC7;
$defaultWhite: #FFFEF7;
$defaultBlack:  darken($primaryColor, 70%);
$lightPrimaryColor: rgb(250, 231, 231);


//colors ends here


